language: python
python:
  - 3.5
branches:
  only:
    - master
    - develop

# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script: nose2 test -v --coverage pyskel --with-coverage
after_success:
  - coveralls
